page-home {
  background: url(./../assets/imgs/COE_bg.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#ffffff;

  ion-header {
    padding-left: 10px;
  }

  ion-header:after {
    background-image: none !important;
  }

  ion-content {
    background-color: transparent !important;

    @media only screen and (orientation: portrait) {
      ion-grid {
        height: 80%;

        ion-row {
          height: 50%;

          ion-col {
            height: 80%;
            text-align: center;

            a, a:hover, a:active, a:visited {
              color: white;
              text-decoration:none;
            }
          }
        }
      }
    }

    @media only screen and (orientation: landscape) {
      ion-grid {
        height: 100%;

        ion-row {
          height: 50%;

          ion-col {
            height: 80%;
            text-align: center;

            a, a:hover, a:active, a:visited {
              color: white;
              text-decoration:none;

              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }

  ion-footer {
    padding-bottom: 20px;
  }

  ion-footer:before {
    background-image: none !important;
  }

  .toolbar-title{
    color: white !important;
    font-size: 12px !important;
  }

}

.ios {
  page-home {
    ion-header {
      padding-top: 25px;

      @media only screen and (orientation: portrait) {
        #logo {
          width: 80%;
        }
      }

      @media only screen and (orientation: landscape) {
        #logo {
          width: 20%;
        }
      }
    }
  }
}

.md {
  page-home {
    ion-header {
      @media only screen and (orientation: portrait) {
        #logo {
          width: 60%;
        }
      }

      @media only screen and (orientation: landscape) {
        #logo {
          width: 20%;
        }
      }
    }

    ion-content {
      @media only screen and (orientation: portrait) {
        .scroll-content {
          margin-top: 78px !important;
        }
      }

      @media only screen and (orientation: landscape) and (max-width: 979px) {
        .scroll-content {
          margin-top: 30px !important;
        }
      }

      @media only screen and (orientation: landscape) and (min-width: 980px) {
        .scroll-content {
          margin-top: 100px !important;
        }
      }
    }
  }
}
